RewriteEngine On

# Nếu là file có thật (css, js, hình ảnh) thì cho phép truy cập trực tiếp
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Các yêu cầu khác mới đẩy qua index.php
RewriteRule ^(.+)$ index.php?url=$1 [L,QSA]